body {
  font-family:Arial, Helvetica, sans-serif
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.form-card {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.input-group {
  margin-bottom: 15px; 
}

.input-group label {
  font-weight: bold;
  display:block; 
  margin-bottom: 5px; 
  text-align: left; 
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.form-button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

.select-box {
  margin-top: 20px;
  width: 300px;
  margin-bottom: 20px;
  z-index: 1000;  
}

.ag-theme-alpine {
  position: relative;
  z-index: 0;  
}

.ag-theme-alpine .ag-cell {
  border-right: 1px solid #ccc !important;
}

.ag-theme-alpine .ag-row {
  border-bottom: 1px solid #ccc !important;
}

.ag-theme-balham .ag-root {
  border: 1px solid #ccc;
}

.ag-theme-alpine .ag-header-cell {
  border-right: 1px solid #ccc;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  position: relative;  
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logout-button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px; 
}

.logout-button:hover {
  background-color: #ff1a1a;
}

